*{
    margin: 0rem;
    padding: 0rem;
}
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@600;800&display=swap');


body{
 font-family:'Lato', sans-serif;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

body{
    font-family:'Montserrat', sans-serif;
   }
   hr{
    margin: 2rem 0rem;
   }
:root{
    --praimary-color:#06b6d4;
    --gray-color:#94a3b8;
    --off-white:#f1f5f9;
}
/* #22d3e */
/* #06b6d4 */
.container{
    padding: 1rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
